<div class="hero">
  <h1>Volcanoes! 🌋</h1>
</div>

<div class="container">

  {{!-- Basic data --}}
  <p>There are {{ volcanoes.length }} volcanoes</p>

  {{!-- Logging and context --}}
  {{!-- {{log "Look at me!"}} --}}
  {{!-- {{log volcanoes}} --}}

  {{!-- Iteration --}}
  {{!-- {{#each volcanoes}}
    {{> volcano-card volcano=this}}
  {{/each}} --}}

  {{!-- <table>
    <tr>
      <th>Volcano</th>
      <th>Type</th>
    </tr>
    {{#each volcanoes}}
    <tr>
      <td>
        {{this.name}}
      </td>
      <td>
        {{this.volcanoType}}
      </td>
      <td>
        {{this.lastEruption}}
      </td>
    </tr>
    {{/each}}
    <table> --}}

  {{!-- Using partials --}}
  {{!-- {{> volcano-table volcanoes=volcanoes }} --}}
</div>